html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%;
}

h2 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.25px;
}

a,
button {
    border-style: none;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: none;}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* переменные цвета */
:root {
    --bgc-light-grey: #EEEFF1;
    --accent-navy: #34547A;
}

/* FIRST_SCREEN */

.first_-screen {
    background-color: var(--bgc-light-grey);
}

.first-screen__inner_upflex {
    display: flex;
    padding-top: 64px;
    justify-content: space-between;
    padding-top: 53px;
}

.first-screen__inner_header-menu {
    list-style: none;
    display: flex;
}

.first-screen__inner_header-menu-text {
    margin-right: 42px;
}

.first-screen__inner_header-menu-text:last-child {
    margin-right: 8px;
}

.menu_link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.menu_link:hover {
    color: var(--accent-navy);
}

.first-screen__inner_downflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-screen__inner_downflex-img {
    display: block;
    max-width: 357px;
    width: 100%;
    min-height: 234px;
}

.first-screen__inner_downflex-right {
    padding-top: 129px;
    padding-bottom: 146px;
}

.first-screen__inner_downflex-h1 {
    padding-bottom: 33px;
}

.first-screen__inner_downflex_p {
    padding-bottom: 52px;
    max-width: 540px;
}

.wd_button {
    display: block;
    width: 225px;
    height: 65px;
    text-align: center;
    background-color: var(--accent-navy);
    text-decoration: none;
    padding: 22px 0;
    margin: auto 0;
    color: #fff;
    text-transform: uppercase;
    border-style: none;
}

/* ABOUT_ME */

.about_me_header {
    text-align: center;
    padding: 119px 0 37px 0;
}

.about-me-p {
    text-align: center;
    margin-bottom: 91px;
}

/* NUMBERS */

.numbers {
    background-color: var(--accent-navy);
    max-height: 250px;
    height: 100%;
}

.numbers__flex {
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.numbers__flex-item {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.numbers__flex-item_image {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.numbers__flex-item_info_40 {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 3px;
    padding-bottom: 2px;
}

.numbers__flex-item_info_proektov {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.25px;
}

/* .carousel {
    max-height: 400px;
} */

/* SKILLS */

.skills__flex {
    padding: 102px 0 101px;
    display: flex;
    justify-content: space-between;
}

.skills-h2 {
    text-align: left;
    padding-top: 103px;
    padding-bottom: 37px;
}

.skills-h3 {
    color: #727272;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    padding-bottom: 13px;
}

.skills-img {
    display: block;
    max-width: 555px;
    width: 100%;
    max-height: 450px;
    height: 100%;
}

.progress-bar {
    display: flex;
    width: 445px;
    height: 4px;
    background-color: #999;
    margin-bottom: 10px;
}

.progress-bar-completed {
    background-color: var(--accent-navy);
}



/* VIDEO */

.video {
    background-color: var(--bgc-light-grey);
    padding-bottom: 100px;
}

.video__header {
    text-align: center;
    padding: 100px 0 40px;
}

.video__p {
    max-width: 540px;
    text-align: center;
    padding-bottom: 48px;
    margin: 0 auto;
}

.monkey_vid {
    max-width: 1110px;
    width: 100%;
    height: 600px;
}

/* PROJECTS */

.projects {
    padding-top: 24px;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-image: url(../img/projects_img1.jpg);
    background-size: cover;
    position: relative;
    margin: 0;
}

.card_alt {
    background-image: url(../img/projects_img2.jpg);
}

.card-view-icon {
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}

.card_filter {
    position: absolute;
    background-color: var(--accent-navy);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease;
}

.card:hover .card-view-icon {
    opacity: 1;
}

.card:hover .card_filter {
    opacity: 0.8;
}

/* CLIENTS */

.clients {
    padding: 72px 0 100px 0;
}

.clients__flex {
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 30px;
}

.clients__flex-item {
    display: block;
    max-width: 255px;
    width: 100%;
    max-height: 120px;
    height: 100%;
}

/* FORM */

.form {
    background-color: var(--bgc-light-grey);
    padding-bottom: 100px;
}

.form__h2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 39px;
}

.form__p {
    text-align: center;
    padding-bottom: 57px;
}

.form_hotite {
    margin: 0 auto;
    max-width: 540px;
}
.form_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.input_form {
    width: 255px;
    height: 50px;
    padding: 0 0 0 20px;
}
.ta_form {
    padding: 17px 0 0 20px;
    max-width: 540px;
    width: 100%;
    height: 175px;
    resize: none;
}
.input_form, .ta_form {
    background-color: #fff;
    border: none;
    
}



.send_button {
    margin: 30px auto;
}

/* FOOTER */

.footer {
    background-color: var(--accent-navy);
}

.footer_flex {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
}

.h2_footer {
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: left;
}

.h3_footer {
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    padding-bottom: 50px;
}

.footer_right {
    padding: 70px 0 55px 0;
}

.footer_link1 {
    margin-right: 21.88px;
}

.footer_link1:last-child {
    margin-right: 0px;
}